html {
  box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;   /* nasledovanie from parents */
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Merriweather', serif; */
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  font-weight: normal;

  color: #FFFFFF;
}

.wrapper {
  max-width: 1440px;
   margin: 0 auto;  /* vuravnivanie po centry contenta*/
}

/* Header styles start */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  }

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
}

/* logo */
.header_logo {
  /* width: 50px;
  height: 50px; */
  padding-left: 20px;
  /* margin-top: 20px; */
  }

.header_nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header_nav-item {
  margin-right: 30px;
}

.header_nav-item:last-child {
  margin-right: 0px;
}

.header_nav-link {
  text-decoration: none;
  /* transition: color 0.5s; */
  color: #FFFFFF;
}

.header_nav-link:hover,
.header_nav-link:focus,
.header_nav-link:active {
  opacity: .75;
  /*color: #5d7260;      /* pri navedenii */
}

/* switch-lng */
#switch-lng {
  font-weight: bold;
  text-align: center;
  }

/* en */
#en {
  color: #BDAE82;
  }

/* Header styles end */



/* Hero styles start */

.hero {
  min-height: 100vh;

  background: url(https://github.com/IuliiaPi/CV/blob/main/assets/svg/myavatar.jpg?raw=true) no-repeat center; 

  /* background: url(https://github.com/IuliiaPi/portfolio/blob/master/assets/img/bg.jpg) no-repeat center; */
  /* background: url(./assets/img/header-bg.jpg) no-repeat center; */

  background-size: cover;
  padding-top: 250px;
  padding-left: 80px;
}

.hero-title {
  max-width: 500px;

  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;

  margin-bottom: 10px;
  }
  
  .hero-text {
    max-width: 470px;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  
  .btn {
    padding: 8px 72px 7px 73px;
    font-size: 20px;
line-height: 40px;

color: #000000;

background: #BDAE82;
border-radius: 0px;
  }

  .btn:hover,
.btn:focus,
.btn:active {
  background: #a0936b;
}


/* Hero styles end */


/* Contacts styles start */

.contacts {
  min-height: 100vh;

  background: url(https://github.com/IuliiaPi/CV/blob/main/assets/svg/myavatar.jpg?raw=true) no-repeat center; 

background-size: cover;
  padding-top: 60px;
}

.contacts_wrapper {
  /* max-width: 1440px; */
  /* margin: 0 auto; */
  width: 450px;
  margin-left: auto;
  /* margin-right: 0; */
}

.contact_me {
  font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
color: #BDAE82;
}

.contacts-form_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts-form_field {
  width: 450px;
  margin-bottom: 20px;
}

.contacts-form_field::placeholder {
  font-size: 20px;
line-height: 40px;

color: #BDAE82;
}

.contacts-form_message {
  width: 450px;
  height: 100px;
  color: #BDAE82;
  margin-bottom: 30px;
}

.contacts-form_submit {
  width: 220px;
  padding: 8px 40px 7px 40px;

  background: #BDAE82;
border-radius: 0px;

font-size: 20px;
line-height: 40px;

/* text-align: center; */

color: #000000;
}


/* Contacts styles end */



  /* Footer styles start */

.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
 
  /* padding-top: 50px; */

  background-color: black;

  height: 150px;
  
}

.footer-data {
  display: flex;
flex-wrap: wrap;
justify-content: space-between;

width: 182px;
padding-left: 20px;
}

.github1 {
  text-decoration: none;
  color: #FFFFFF;
}

.social-list {
  display: flex;
flex-wrap: wrap;
justify-content: space-between;

width: 188px;
padding-right: 20px;
}

/* Footer styles end */