html {
  box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;   /* nasledovanie from parents */
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Merriweather', serif; */
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  font-weight: normal;

  color: #FFFFFF;
}

.wrapper {
  max-width: 1440px;
   margin: 0 auto;  /* vuravnivanie po centry contenta*/
}

/* Header styles start */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* width: 1440px; */
  /* height: 90px; */
  }

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
}

/* logo */
.header_logo {
  /* width: 50px;
  height: 50px; */
  padding-left: 20px;
  /* margin-top: 20px; */
  }

.header_nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header_nav-item {
  margin-right: 30px;
}

.header_nav-item:last-child {
  margin-right: 0px;
}

.header_nav-link {
  text-decoration: none;
  /* transition: color 0.5s; */
  color: #FFFFFF;
}

.header_nav-link:hover,
.header_nav-link:focus,
.header_nav-link:active {
  opacity: .75;
  /*color: #5d7260;      /* pri navedenii */
}

/* switch-lng */
#switch-lng {
  font-weight: bold;
  text-align: center;
  }

/* en */
#en {
  color: #BDAE82;
  }

/* Header styles end */



/* Hero styles start */

.hero {
  /* height: 100vh; */

  /* background: url(https://github.com/IuliiaPi/CV/blob/main/assets/svg/myavatar.jpg?raw=true) no-repeat center;  */
  /* background: url(https://github.com/IuliiaPi/portfolio/blob/master/assets/img/bg.jpg) no-repeat center; */
  /* background: url(./assets/img/bg.jpg) no-repeat center; */
  /* background-size: cover; */

/* height: 330px;
width: 500px;

margin-left: 80px;*/
/* margin-top: 250px;  */
background-color: aqua;
}

/* .hero_wrapper {
  margin-left: 80px;
 margin-top: 250px;  
} */

.hero-title {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  }
  
  .hero-text {
  /* height: 120px;
  top: 130px;  */
  /* margin-top: 10px;
width: 120px; */
  font-size: 20px;
  line-height: 40px;
  }
  
  .btn {
  height: 55px;
  top: 275px; 
  /* margin-top: 25px; */
  }
  
  .rectangle {
    background: #BDAE82;
    border-radius: 0px; 
    }
    
  .hire-me {
  line-height: 40px;
  text-align: center;
  
  color: #000000;
  }


/* Hero styles end */



/* bg */
 {
  position: absolute;
  width: 1440px;
  height: 910px;
  left: 0px;
  top: 0px;
  
  background: url(header-bg.jpg);
  }


  /* Footer styles start */

.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
 
  /* padding-top: 50px; */

  background-color: black;

  height: 150px;
  
}

.footer-data {
  display: flex;
flex-wrap: wrap;
justify-content: space-between;

width: 182px;
padding-left: 20px;
}

.github1 {
  text-decoration: none;
  color: #FFFFFF;
}

.social-list {
  display: flex;
flex-wrap: wrap;
justify-content: space-between;

width: 188px;
padding-right: 20px;
}

/* Footer styles end */